.card-stats .title {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  color: #8898aa;
}
.card-stats .number {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #32325d;
}
.card-stats .icon {
  padding: 12px;
  width: 3rem;
  text-align: center;
  height: 3rem;
}
.card-stats .perc {
  color: #2dce89;
  font-weight: 300;
  line-height: 23.8px;
}
.card-stats .time {
  color: #8898aa;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.8px;
}
