$pending-color: #924aef;
$interview-color: #e328af;
$approve-color: #28a745;
$disbust-color: #ff9325;
$extra-color: #5ecfff;

.timeline {
  display: flex;
  flex-direction: column;
  margin: 2% auto;

  &__event {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);

    &__title {
      font-size: 1.2rem;
      line-height: 1.4;
      text-transform: uppercase;

      font-weight: 600;
      color: $pending-color;
      letter-spacing: 1.5px;
    }

    &__content {
      padding: 20px;
    }

    &__date {
      color: rgb(220 201 244);
      font-size: 1.5rem;
      font-weight: 600;
      white-space: nowrap;
    }

    &__icon {
      border-radius: 8px 0 0 8px;
      background: $pending-color;
      display: flex;
      align-items: center;
      justify-content: center;
      // flex-basis: 40%;
      width: 200px;
      font-size: 2rem;
      color: $pending-color;
      padding: 20px;

      i {
        position: absolute;
        top: 50%;
        left: -65px;
        font-size: 2.5rem;
        transform: translateY(-50%);
      }
    }

    &__description {
      flex-basis: 60%;
    }

    &:after {
      content: '';
      width: 2px;
      height: 100%;
      background: $pending-color;
      position: absolute;
      top: 65%;
      // transform: translateY(-50%);
      left: -3.5rem;
      z-index: -1;
    }

    &:before {
      content: '';
      width: 5rem;
      height: 5rem;
      position: absolute;
      background: rgb(220 201 244);
      border-radius: 100%;
      left: -6rem;
      // right: 90%;
      top: 50%;
      transform: translateY(-50%);
      border: 2px solid #9251ac;
    }

    &--type2 {
      &:before {
        background: rgb(246 194 231);
        border-color: $interview-color;
      }

      &:after {
        background: $interview-color;
      }

      .timeline__event__date {
        color: rgb(246 194 231);
      }

      .timeline__event__icon {
        background: $interview-color;
        color: $interview-color;
      }

      .timeline__event__title {
        color: $interview-color;
      }

      .timeline__event__title {
      }
    }

    &--type3 {
      &:before {
        background: #aff1b6;
        border-color: $approve-color;
      }

      &:after {
        background: $approve-color;
      }

      .timeline__event__date {
        color: #aff1b6;
      }

      .timeline__event__icon {
        background: $approve-color;
        color: $approve-color;
      }

      .timeline__event__title {
        color: $approve-color;
      }

      .timeline__event__title {
      }
    }

    &--type4 {
      &:before {
        background: rgb(251 220 188);
        border-color: $disbust-color;
      }

      &:after {
        background: $disbust-color;
      }

      .timeline__event__date {
        color: rgb(251 220 188);
      }

      .timeline__event__icon {
        background: $disbust-color;
        color: $disbust-color;
      }

      .timeline__event__title {
        color: $disbust-color;
      }

      .timeline__event__title {
      }
    }

    &--type5 {
      &:before {
        background: rgb(200 236 251);
        border-color: $extra-color;
      }

      &:after {
        background: $extra-color;
      }

      .timeline__event__date {
        color: rgb(200 236 251);
      }

      .timeline__event__icon {
        background: $extra-color;
        color: $extra-color;
      }

      .timeline__event__title {
        color: $extra-color;
      }

      .timeline__event__title {
      }
    }

    &--type6 {
      &:before {
        background: #aff1b6;
        border-color: $approve-color;
      }

      &:after {
        background: $approve-color;
      }

      .timeline__event__date {
        color: #aff1b6;
      }

      .timeline__event__icon {
        background: $approve-color;
        color: $approve-color;
      }

      .timeline__event__title {
        color: $approve-color;
      }

      .timeline__event__title {
      }
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
  }

  .timeline__event__icon {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }
}

// ------------------------------------------------------

.page-contain {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em auto;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;

  h3 {
    color: #2e3c40;
    font-size: 2em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #753bbd;
    transition: color 0.45s ease, border 0.45s ease;
  }

  h4 {
    color: #627084;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color 0.45s ease;
  }

  p {
    opacity: 0;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity 0.45s ease, transform 0.5s ease;
  }

  .link-text {
    display: block;
    color: #753bbd;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color 0.45s ease;

    svg {
      margin-left: 0.5em;
      transition: transform 0.6s ease;

      path {
        transition: fill 0.45s ease;
      }
    }
  }

  &:hover {
    background: #753bbd;
    transform: scale(1.02);

    h3 {
      color: #ffffff;
      border-bottom-color: #a754c4;
    }

    h4 {
      color: #ffffff;
    }

    p {
      opacity: 1;
      transform: none;
    }

    .link-text {
      color: #ffffff;

      svg {
        animation: point 1.25s infinite alternate;

        path {
          fill: #ffffff;
        }
      }
    }
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0.125em);
  }
}

@media screen and (max-width: 768px) {
  .data-card {
    p {
      opacity: 1;
      color: #753bbd;
      margin-top: 1.5rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .data-card {
    min-height: 17em;
  }

  .data-card {
    h3 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: 480px) {
  .data-card {
    min-height: 15em;
  }

  .data-card {
    h3 {
      font-size: 1.2em;
    }

    h4 {
      font-size: 0.7em;
    }

    .link-text {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 415px) {
  .data-card {
    min-height: 10em;
  }

  .data-card {
    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.7em;
    }

    p {
      font-size: 0.8rem;
      margin-top: 1rem;
    }

    .link-text {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 380px) {
  .page-contain {
    .col-6 {
      padding: 0.3rem;
    }
  }

  .data-card {
    min-height: 90%;
  }

  .data-card {
    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.7em;
    }

    p {
      font-size: 0.8rem;
      margin-top: 1rem;
    }

    .link-text {
      font-size: 0.9rem;

      svg {
        width: 17px;
      }
    }
  }
}
